*{
    /* background-color: lavender; */
    box-sizing: border-box;
    color: white;
}

body{
    
background: url('./images/weather.jpg') no-repeat center center/cover;
background-attachment: fixed;
height: 100vh;
width: 100vw;

}
.list  li{
    list-style:none ;
}

.search{
   padding:0.3vmax 2.5vmax;
   margin: 4vmax 2vmax;
   background-color: rgb(35, 32, 32);
   color: rgb(159, 155, 155);
   font-size: 2vmax;
   font-weight: 400;
   border: solid white 1px ;
}


.button{
    padding: 0.4vmax 1.4vmax;
    background-color: rgb(235, 232, 232);
    color: rgb(229, 25, 25);
    font-size: 1.4vmax;
    border: solid rgb(0, 0, 0) 1px ;
    border-radius: 27px;
    font-style: italic;
}
.button:hover{
    background-color: whitesmoke;
    border-color: white;
    cursor: pointer;
    
}

.card{
    font-size: 3vmax;
    margin: 0vmax 4vmax;
    height: 9vmax;
    width:45%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cityName{
    color:rgb(196, 95, 95);
    font-size: 3.6vmax;
}


.card-body ul li{
    
    width: 40%;
        margin-left: 10vmax;
        font-size: 1.7vmax;
        padding: 0.6vmax;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    
       
}
#feels_like{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
#humidity{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.temp-det {
    padding-left: 15vmax; 
    width: 40%;
    font-size: 2.5vmax;
    
}

.display li{
    display: none;
}

@media screen and (max-width: 768px) {body{
    height: auto;
    width:  100vw;
    }
    .search{
        padding:0.8vmax 3vmax;
        width: max-content;
        margin: 4vmax 2vmax;
        font-size: 2.2vmax;
     }
     .button{
        padding: 0.8vmax 1.7vmax;
        font-size: 1.7vmax;
      
    }
}
